<%= form_with model: @lesson_plan, local: true do |f| %> %>

<div class="field<%= ' field_with_errors' if @lesson_plan.errors[:name].any? %>">
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %> <br>
</div>

  <% if !Subject.all.empty? %>
    <%= f.options_for_select :subjects_ids, Subject.all, :id, :name, :include_blank => true %>
  <% end %>
  <%= f.fields_for :subjects, @lesson_plan.subject.build do |subject_fields| %>
    <%= subject_fields.text_field :name%>
  <% end %>

  <%= f.collection_check_boxes(:books_ids, Book.all, :id, :title, :author) %>
  <%= f.fields_for :books, @lesson_plan.books.build do |book_fields| %>
    <%= book_fields.text_field :title %>
    <%= book_fields.text_field :author %>
  <% end %>

<div class="field<%= ' field_with_errors' if @lesson_plan.errors[:duration].any? %>">
  <%= f.label :start_date, "Start Date: " %>
  <%= f.date_field :start_date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %> <br>
</div >

<div class="field<%= ' field_with_errors' if @lesson_plan.errors[:duration].any? %>">
  <%= f.label :duration, "Duration (in days): " %>
  <%= f.number_field :duration %> <br>
</div >

  <%= f.submit %>
<% end %>