<%= form_with model: @lesson_plan, local: true do |f| %>

<div class="field<%= ' field_with_errors' if @lesson_plan.errors[:name].any? %>">
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %> <br>
</div>

  <%= f.label "Subject: " %> 
  <%= collection_select(:lesson_plan, :subject_id, Subject.all, :id, :sub_name, prompt: true) %> <br>
  <%= f.fields_for :subject, @lesson_plan do |subject_fields| %>
    <%= subject_fields.text_field :sub_name %> <br>
  <% end %>

  <%= f.label "Book(s): " %> <br>
  <%= f.collection_check_boxes(:book_ids, Book.all, :id, :title) %> <br>
  <%= f.fields_for :books, @lesson_plan.books do |book_fields| %>
    <%= book_fields.label "Title: " %>
    <%= book_fields.text_field :title %> <br>
    <%= book_fields.label "Author: " %>
    <%= book_fields.text_field :author %> <br>
  <% end %>

<div class="field<%= ' field_with_errors' if @lesson_plan.errors[:start_date].any? %>">
  <%= f.label :start_date, "Start Date: " %>
  <%= f.date_field :start_date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %> <br>
</div >

<div class="field<%= ' field_with_errors' if @lesson_plan.errors[:duration].any? %>">
  <%= f.label :duration, "Duration (in days): " %>
  <%= f.number_field :duration %> <br>
</div >

  <%= f.submit %>
<% end %>