<h1><%= @lesson_plan.name %> </h1>

<p>Duration: <%= @lesson_plan.duration %> days</p>

<p>Start Date: <%= @lesson_plan.lesson_start %></p>

<p>Subject: <%= @lesson_plan.subject.name %> </p>


<%= link_to "Edit Lesson Plan", edit_lesson_plan_path(@lesson_plan) %> | <%= link_to "Your Lesson Plans", lesson_plans_path %>