<h1><%= @lesson_plan.name %> </h1>

<p>Subject: <%= @lesson_plan.subjects.name %></p>

<p>Duration: <%= @lesson_plan.duration %> days</p>

<p>Start Date: <%= @lesson_plan.lesson_start %></p>

<p> Book(s): </p> 
<% @lesson_plan.books.each do |book| %>
<li> 
  <%= "#{book.title} - #{book.author}" %>
</li>
<% end %> <br>


<%= link_to "Edit Lesson Plan", edit_user_lesson_plan_path(@lesson_plan) %> | <%= link_to "Your Lesson Plans", user_lesson_plans_path(current_user) %>