  <p>Your Information: </p>

  <%= f.label "Email: " %>
  <%= f.email_field :email %> <br>

  <%= f.label "Your Name: " %>
  <%= f.text_field :name %> <br>

  <%= f.label "Your School: " %>
  <%= f.text_field :school %> <br>

  <%= f.label "Grade Teaching: " %>
  <%= f.text_field :grade %> <br>