<h1>Edit Your Profile: </h1>

<%= form_for @user do |f| %>

  <p>Your Information: </p>

  <%= f.label "Email: " %>
  <%= f.email_field :email %> <br>

  <%= f.label "Your Name: " %>
  <%= f.text_field :name %> <br>

  <%= f.label "Your School: " %>
  <%= f.text_field :school %> <br>

  <%= f.label "Grade Teaching: " %>
  <%= f.text_field :grade %> <br>


  <%= f.submit "Submit Changes", class: "btn"%>

<% end %>

<%= form_tag user_path(@user.id), method: "delete" do %>
  <%= submit_tag "Delete Account", class: "btn" %>
<% end %>