<h1>Sign Up</h1>

<%= form_for :user do |f| %>
  <%= f.label "Username: " %>
  <%= f.text_field :username %> <br>

  <%= f.label "Email: " %>
  <%= f.email_field :email %> <br>

  <%= f.label "Password: " %>
  <%= f.password_field :password %> <br>

  <%= f.label "Confirm Password: " %> 
  <%= f.password_field :password_confirmation %> <br>

  <p>Your Information: </p>

  <%= f.label "Your Name: " %>
  <%= f.text_field :name %> <br>

  <%= f.label "Your School: " %>
  <%= f.text_field :school %> <br>

  <%= f.label "Grade Teaching: " %>
  <%= f.text_field :grade %> <br>

  <%= f.submit "Sign Up", class: "btn"%>


<% end %>