<h1> You are now logged in!</h1>

<p> <%= "Welcome, #{@user.name}!" %> </p>
<p> Your Information: </p>
  <ul>
    <li> Email: <%= @user.email %> </li>
    <li> School: <%= @user.school %> </li>
    <li> Grade Taught: <%= @user.grade %> </li>
  </ul> <br>

  <p> <%= link_to "Edit Profile", edit_user_path(@user) %> | <%= link_to "Logout", logout_path %> | <%= link_to "Delete Account", delete_path %> </p>