<%= form_with model: @book, local: true do |f| %>

<div class="field<%= ' field_with_errors' if @book.errors[:title].any? %>">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div> <br>

<div class="field<%= ' field_with_errors' if @book.errors[:author].any? %>">
  <%= f.label :author %>
  <%= f.text_field :author %>
  </div> <br>

<div class="field">
  <%= f.label "Subject(s):" %> <br>
  <%= f.fields_for :subjects do |subject_fields| %>
    <%= subject_fields.text_field :name %> <br>
  <% end %> <br>
</div>

  <%= f.submit %>
<% end %>

