<%= form_for @book do |f| %>

<div class="field<%= ' field_with_errors' if @book.errors[:title].any? %>">
  <%= f.label :title %> <br>
  <%= f.text_field :title %>
</div> <br>

<div class="field<%= ' field_with_errors' if @book.errors[:author].any? %>">
  <%= f.label :author %> <br>
  <%= f.text_field :author %>
</div> <br>

<div class="field<%= ' field_with_errors' if @book.errors[:author].any? %>">
  <%= f.label :publisher %> <br>
  <%= f.text_field :publisher %>
</div> <br>

<div class="field<%= ' field_with_errors' if @book.errors[:author].any? %>">
  <%= f.label :pages %> <br>
  <%= f.number_field :pages %>
</div> <br>

<%= f.submit %>
<% end %>