<h1>Edit Book: </h1>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>

  <%= f.label :author %>
  <%= f.text_field :author %> <br>

  <%= f.label :subject %>
  <%= f.text_field :subject %> <br>

  <%= f.submit class: "btn" %>
<% end %>

<%= form_tag user_book_path(@book.id), method: "delete" do %>
  <%= submit_tag "Delete Book" %>
<% end %>