<h1> School Library</h1>

<div class="form-container">
<%= form_with books_path, method: :get, local: true do |f| %>
  <div class="field">
    <%= f.label :search, "Search Books: " %>
    <%= f.text_field :search %> 
    <%= f.submit "Search!" %>
  </div>
<% end %>
</div>

<% @books.each do |book| %>
<li> <%= link_to "#{book.title} - #{book.author}", book_path(book) %> </li>
<% end %>