<h3> <%= @book.title %></h3>
<p> Author: <%= @book.author %></p>
<p> Subject(s): </p>
<% @book.subjects.each do |subject| %>
<li> <%= subject.name %></li>
<% end %>

<%= link_to "Edit Book", edit_user_book_path(@book) %> | <%= link_to "Your Books", user_books_path(current_user) %>